
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>title</title>
<meta name="description" content="content" />
<meta name="keywords" content="typecho" />
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://typecho.org/feed/archives/65/" />
<link rel="alternate" type="application/rdf+xml" title="RSS 1.0" href="http://typecho.org/feed/rss/archives/65/" />
<link rel="alternate" type="application/atom+xml" title="ATOM 1.0" href="http://typecho.org/feed/atom/archives/65/" />
<link rel="stylesheet" href="http://static.typecho.org/css/blueprint/screen.css?v=1.0.6" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="http://static.typecho.org/css/style.css?v=1.0.6" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="http://static.typecho.org/css/blueprint/print.css?v=1.0.6" type="text/css" media="print" />
<link rel="shortcut icon" href="http://static.typecho.org/images/favicon.ico?v=1.0.6" type="image/x-icon" />
</head>
<body><div class="container">
<div class="span-24" id="header">
	<h1 id="logo"><a href="http://typecho.org">Typecho</a></h1>
    </div>
<div class="span-24" id="nav-menu">
	<ul class="clearfix">
		<li><a href="#" >Home</a></li>
		<li><a href="#" >Archives</a></li>
		<li><a href="#" >About</a></li>
	</ul>
</div><div id="content" class="span-24">



    <div class="span-18">
	<div id="headline">
		<h2>PostTitle</h2>
        
        <p class="post-data">
            <span>Publish: May 8, 2012</span>
            <span>Category: <a href="http://typecho.org/category/develop/">开发相关</a></span>
            <span class="no-border">Author: <a href="http://typecho.org/author/2/">混蛋70</a></span>
        </p>
	</div><!-- end #headline -->

	<div class="span-18">
		<div  id="main">
		<div class="post">
			<p>PostContent</p>		</div>


		<div id="comments">

		</div><!-- end #comment -->
		</div><!-- end #main -->
	</div>
    </div>

	<div class="span-6 last">
		<div id="sidebar">
		<div class="sub-menu">
			<h4>Categories</h4>
			<ul>
				<li><a href="http://typecho.org/category/develop/">开发相关</a></li>
<li><a href="http://typecho.org/category/release/">新版发布</a></li>
<li><a href="http://typecho.org/category/performance/">性能优化</a></li>
<li><a href="http://typecho.org/category/nothing/">杂七杂八</a></li>
			</ul>
		</div>
        <div class="sub-menu">
			<h4>Archives</h4>
			<ul>
				<li><a href="http://typecho.org/2012/05/">May 2012</a></li>
<li><a href="http://typecho.org/2010/10/">October 2010</a></li>
<li><a href="http://typecho.org/2010/08/">August 2010</a></li>
<li><a href="http://typecho.org/2010/05/">May 2010</a></li>
<li><a href="http://typecho.org/2010/03/">March 2010</a></li>
<li><a href="http://typecho.org/2009/11/">November 2009</a></li>
<li><a href="http://typecho.org/2009/09/">September 2009</a></li>
<li><a href="http://typecho.org/2009/08/">August 2009</a></li>
<li><a href="http://typecho.org/2009/07/">July 2009</a></li>
<li><a href="http://typecho.org/2009/06/">June 2009</a></li>
<li><a href="http://typecho.org/2009/05/">May 2009</a></li>
<li><a href="http://typecho.org/2009/04/">April 2009</a></li>
<li><a href="http://typecho.org/2009/03/">March 2009</a></li>
<li><a href="http://typecho.org/2009/02/">February 2009</a></li>
<li><a href="http://typecho.org/2009/01/">January 2009</a></li>
<li><a href="http://typecho.org/2008/12/">December 2008</a></li>
<li><a href="http://typecho.org/2008/11/">November 2008</a></li>
<li><a href="http://typecho.org/2008/10/">October 2008</a></li>
<li><a href="http://typecho.org/2008/09/">September 2008</a></li>
<li><a href="http://typecho.org/2008/08/">August 2008</a></li>
<li><a href="http://typecho.org/2008/07/">July 2008</a></li>
<li><a href="http://typecho.org/2008/05/">May 2008</a></li>
			</ul>
		</div>
		<div class="sub-menu">
			<h4>Subscribe Feed</h4>
			<ul>
				<li><a href="http://typecho.org/feed/">Blog RSS</a></li>
				<li><a href="http://typecho.org/feed/atom/">Blog Atom</a></li>
			</ul>
		</div>
		</div><!-- end #sidebar -->
	</div>
</div>
<div id="footer" class="span-24">
	<!--
    <ul>
		<li class="no-border"><a href="#">Contact Us</a></li>
		<li><a href="#">Privacy Policy</a></li>
		<li><a href="#">Terms of Service</a></li>
		<li><a href="#">Trademarks</a></li>
	</ul>
    -->
	<small>&copy; 2008 - 2010 Typecho, Inc. All Rights Reserved.</small>
</div>
</div>
<div style="display:none">
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-918487-4");
            pageTracker._setDomainName(".typecho.org");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
</div>
</body>
</html>
