		<div id="sidebar">
		<div class="sub-menu">
			<h4>Categories</h4>
			<ul>
				<li><a href="http://typecho.org/category/develop/">开发相关</a></li>
<li><a href="http://typecho.org/category/release/">新版发布</a></li>
<li><a href="http://typecho.org/category/performance/">性能优化</a></li>
<li><a href="http://typecho.org/category/nothing/">杂七杂八</a></li>
			</ul>
		</div>
        <div class="sub-menu">
			<h4>Archives</h4>
		</div>
		<div class="sub-menu">
			<h4>Subscribe Feed</h4>
			<ul>
				<li><a href="http://typecho.org/feed/">Blog RSS</a></li>
				<li><a href="http://typecho.org/feed/atom/">Blog Atom</a></li>
			</ul>
		</div>
		</div><!-- end #sidebar -->

