/* ----------------
 * gobal setting
 * ------------- */
body {
	background: #E8ECED url(../images/bg.png) repeat-x;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	line-height: 1.7;
}

a {
	color: #558393;
	text-decoration: none;
	outline: none;
}
a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

blockquote {
	background: #eee;
	border-left: 1px solid #ccc;
	padding: 10px;
}

/* ----------------
 * form & table
 * ------------- */
input, textarea, select, button {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	line-height: 1.7;
	font-size: 12px;
	overflow: visible;
}

textarea, input.text {
	padding: 5px;
}

button.button, input.button, a.button, a.new-topic {
	padding: 4px 10px;
	border: 1px solid #B8CACB;
	background: url(../images/button.png) repeat-x center;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	color: #333;
	cursor: pointer;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}
button.button:hover, button.button:active, a.button:hover, a.button:active, a.new-topic:hover, a.new-topic:active, input.button:hover, input.button:active {
	border-color: #85A5A7;
	text-decoration: none;
}
button.button:active, a.button:active, input.button:active, a.new-topic:active { background: url(../images/button-active.png) repeat-x center; }

input.button, button.button {
	line-height: 12px;
	height: 26px;
}

table { border-collapse: collapse; width: auto; }
th, td, caption { padding: 4px 10px; }
table th {
	border-bottom: 1px solid #D9E0EC;
	background: #76A0B0;
	color: #fff;
}
table td {
	border-top: 1px solid #D9E0EC;
	border-bottom: 1px solid #D9E0EC;
}

code, pre {
	display: block;
	overflow-x: auto;
	background-color: #ffc;
	border: 1px solid #cc9;
	padding: 10px;
	line-height: 20px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}


/* ----------------
 * header
 * ------------- */
#header {
	height: 100px;
	position: relative;
}

/* = logo */
h1#logo {
	position: absolute;
	left: 0;
	top: 20px;
	margin-bottom: 0;
/*	background: url(../images/logo.png) no-repeat; */
	/*background: url(../images/xmas-logo.png) no-repeat;*/
    /*background: url(../images/spring-2010-logo.png) no-repeat;*/
	background: url(../images/mindeden-logo.png) no-repeat;
	text-indent: -9999px;
}
h1#logo a {
	display: block;
	width: 180px;
	height: 60px;
	overflow: hidden;
}

/* = login */
#login {
	position: absolute;
	top: 38px;
	right: 250px;
	color: #ccc;
}
#login span, #login a { margin: 0 8px; }
#login span { color: #555; }

/* = head-search */
form#head-search {
	position: absolute;
	top: 35px;
	right: 5px;
	background: url(../images/head-search.png) no-repeat;
	width: 220px;
	height: 26px;
}
form#head-search .submit, form#head-search .text {
	padding: 5px 0;
	border: 0px;
	width: 30px;
	height: 16px;
	background: transparent;
	cursor: pointer;
}
form#head-search .text {
	width: 170px;
	cursor: text;
}
form#head-search input:focus {
	outline: 0;
}

/* = nav-menu */
#nav-menu {
	background: #35262D;
	height: 35px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-box-shadow: 0 1px 2px #9AB1B1;
	-webkit-box-shadow: 0 1px 2px #9AB1B1;
}
#nav-menu ul {
	list-style: none;
	margin: 5px 10px 0;
	font-size: 1.1em;
}
#nav-menu ul li { float: left; }
#nav-menu a {
	display: block;
	float: left;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#nav-menu li.current a {
	background: #4A3C42;
}


/* ----------------
 * homepage
 * ------------- */
#intro h2 {
	width: 466px;
	height: 38px;
	background: url(../images/intro-title.png) no-repeat;
	text-indent: -9999px;
	/*color: #FFF;
	text-shadow: 0 1px 1px #666;
	font-family: Tahoma, Arial, sans-serif;*/
}
#intro {
	position: relative;
	margin-bottom: 20px;
	padding: 27px 430px 28px 20px;
	background: url(../images/intro.png) repeat-x;
	height: 185px;
	color: #FFF;
	font-size: 1.2em;
	text-shadow: 0 1px 1px #666;
}
p.intro-content {
	width: 467px;
	height: 67px;
	background: url(../images/intro-content.png) no-repeat;
	text-indent: -9999px;
}
img.te-snap {
	position: absolute;
	right: 20px;
	bottom: 0;
}
.guide {
	line-height: 36px;
	font-weight: bold;
}
.guide a, .guide a:hover {
	float: left;
	margin-right: 10px;
	background: url(../images/tour-btn.png) no-repeat;
	width: 227px;
	height: 36px;
	text-indent: -9999px;
}

.guide a:hover { background-position: left bottom; }

#homepage #content {
	padding-top: 0;
}
#homepage #main {
	margin-top: -15px;
	border: none;
}
/* ----------------
 * content
 * ------------- */
#content {
	background: #fff;
	padding: 15px 0 25px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-box-shadow: 0px 1px 2px #9AB1B1;
	-moz-box-shadow: 0px 1px 2px #9AB1B1;
}

/* = headline */
#headline {
	padding: 0 20px 15px;
	color: #666;
}
#headline h2 {
	margin-bottom: 0;
	color: #c60;
	font-size: 1.4em;
}
#headline p { margin-bottom: 0; }

form#sub-search {
	float: right;
	margin-top: 5px;
}


/* ----------------
 * main
 * ------------- */
#main {
	margin: 0 10px 0 20px;
	padding-top: 1.5em;
	border-top: 1px solid #ddd;
}

/* = post */
.post {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.5em;
}
h2.post-title {
	margin-bottom: 0;
}
h3.post-title {
	margin-bottom: 10px;
}
h2.post-title a:hover, h3.post-title a:hover {
}

.post-data {
	color: #666;
	margin-bottom: 1.5em;
}
.post-data span {
	margin-right: 5px;
	padding-right: 8px;
	border-right: 1px solid #ddd;
}
.post-data span.no-border { border-color: transparent; }

/* = extend-list */
/* = extend-list */
.extend-list {
	margin-bottom: 1.5em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;
}
.extend-list h4, .extend-list p { margin-bottom: 10px; }
.extend-item-theme { margin-left: 145px; }

.extend-data {
	float: right;
	list-style: none;
	margin-right: 0;
	padding-left: 1.5em;
	border-left: 1px solid #ddd;
	color: #666;
}
.extend-data li.btn-download {
	margin-bottom: 10px;
}

img.extend-thumb {
	float: left;
	padding: 1px;
	border: 1px solid #ddd;
}

p#extend-screenshot img.extend-thumb {
	margin: 1em;
}

.extend-info strong {
	display: block;
	float: left;
	width: 5.5em;
}

.extend-form {
	width: 100%;
}
.extend-form td {
	padding: 10px 5px;
	border-style: dashed;
	border-width: 1px 0 0 0;
	vertical-align: top;
}
.extend-form textarea {
	width: 520px;
}

/* = pages */
.pages {
	padding: .1em 0;
	font-size: 0.9em;
}

/* = pages */
.pages {
	padding: .1em 0;
	font-size: 0.9em;
}

ul.pages, ul.pages li {
	margin: 0;
	padding: 0;
}

ul.pages li {
	float: left;
	list-style: none;
	margin-right: 3px;
}

.pages span, .pages a {
	padding: 2px 5px;
	border: 1px solid #ddd;
}

ul.pages li.current a {
	border-color: #558393;
	background: #558393;
	color: #fff;
	font-weight: bold;
	/*border: none;*/
}

.pages a:hover {
	border-color: #999;
	text-decoration: none;
}
.pages span {
	border-color: #558393;
	background: #558393;
	color: #fff;
	font-weight: bold;
}

/* = comment */
#comments {
}
#comments ol {
	list-style: none;
	margin: 0 0 30px;
}
#comments ol li {
	clear: both;
	margin-bottom: 10px;
	padding: 10px;
}
#comments li.alt {
	background: #f3f3f3;
}

cite.comment-author {
	font-size: 1.2em;
	font-weight: bold;
	font-style: normal;
}
img.avatar {
	float: left;
	margin: 3px 15px 15px 0;
	width: 48px;
	height: 48px;
	background: #ccc;
}
small.comment-date {
	float: right;
	margin-top: -22px;
}
.comment-text {
	overflow: auto;
	margin: 5px 0 0 60px;
}

#comment-form label { margin-left: 15px; }
#comment-form input.text { width: 240px; }
#comment-form textarea {
	width: 480px;
	height: 220px;
	overflow: auto;
}

.user-recent ol { list-style: none; }

/* ----------------
 * sidebar
 * ------------- */
#sidebar {
	margin: 0 20px 0 0;
}

.sub-menu {
	background: #E8ECED;
	margin: 0 0 20px 0;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.sub-menu h4 { margin-bottom: 5px; }
.sub-menu a { font-weight: bold; }
.sub-menu ul {
	border-top: 2px solid #fff;
	list-style: none;
	margin: 0;
}
.sub-menu ul li {
	border-bottom: 1px dashed #fff;
	padding: 2px 0;
}


/* ----------------
 * footer
 * ------------- */
#footer {
	padding: 10px 0;
	color: #555;
}
#footer ul {
	list-style: none;
	margin: 0 auto;
}
#footer ul li {
	display: inline;
	padding: 0 5px 0 7px;
	border-left: 1px solid #ccc;
}
#footer ul li.no-border {
	border-color: transparent;
}


/* ----------------
 * login form
 * ------------- */
.login-form {
	margin: .5em 8em 2em 2em;	
	/*background: #E8ECED;
	padding: 2em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
}
.login-form label {
	display: block;
	color: #333
}
.login-form p {
	/*border-top: 1px dashed #fff;
	padding: 10px 0 0 20px;*/
	color: #666;
}
.login-form input[type="text"], .login-form input[type="password"] {
	padding: 5px;
}
.login-form input {
	margin-right: 10px;
}


/* ----------------
 * misc
 * ------------- */
.error, .notice, .success {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

img.alignleft {
	float: left;
	margin: 5px 10px 0 0;
}
img.alignright {
	float: right;
	margin: 5px 10px 0 0;
}
