<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>

  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ page.description | escape | truncate(length=155) }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  <link rel="canonical" href="{{ site.url }}">
  <link href="{{ site.root }}/favicon.png" rel="icon">
  <link href="{{ site.root }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
</head>
{% unless body_class %} {% assign body_class = 'default' %} {% endunless %}
<body class="{{ body_class }}">
  <div id="wrapper">
    {% include 'header.html' %}
    <div id="main"> {{ content }} </div>
    {% include 'footer.html' %}
  </div> <!-- #wrapper end -->

  {% include 'external/google_analytics.html' %}
  {% include 'external/disqus.html' %}
  {% include 'external/facebook_like.html' %}
  {% include 'external/google_plus_one.html' %}
  {% include 'external/twitter_sharing.html' %}
</body>
</html>
