/* line 4, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 33, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: Helvetica, Arial, "Microsoft Yahei", "WenQuanYi Micro Hei", STXihei, SimHei, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 51, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bf00ff;
}

/* line 63, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 64, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 70, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 89, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 4, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.feedback, .error, .alert, .notice, .success, .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}

/* line 5, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error, .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error a, .alert a {
  color: #8a1f11;
}

/* line 7, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice a {
  color: #514721;
}

/* line 8, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success a {
  color: #264409;
}

/* line 9, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.info a {
  color: #205791;
}

/* line 10, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.hide {
  display: none;
}

/* line 11, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.highlight {
  background: yellow;
}

/* line 12, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.added {
  background: #006600;
  color: white;
}

/* line 13, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.removed {
  background: #990000;
  color: white;
}

/* line 9, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clear, #pagination, #footer .panels, #archives .post-line {
  clear: both;
}

/* line 12, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 16, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 22, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 26, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 29, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 32, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 35, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 21, partials/_base.sass */
.clear:after, #pagination:after, #footer .panels:after, #archives .post-line:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 28, partials/_base.sass */
.plain-list, .flat-list, #social-links, #nav, #footer ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* line 35, partials/_base.sass */
.flat-list li, #social-links li, #nav li {
  float: left;
  margin-right: 15px;
}

/* line 39, partials/_base.sass */
.title, h1, h2, h3, h4, #header h1 {
  color: #444444;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: -1px 0 0 #fae3a9;
}
/* line 44, partials/_base.sass */
.title a, h1 a, h2 a, h3 a, h4 a, #header h1 a {
  color: #444444;
}
/* line 46, partials/_base.sass */
.title a:visited, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, #header h1 a:visited, .title a:active, h1 a:active, h2 a:active, h3 a:active, h4 a:active, #header h1 a:active {
  color: #444444;
}
/* line 48, partials/_base.sass */
.title a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, #header h1 a:hover {
  border-bottom: 1px dotted #aaaaaa;
  color: #666666;
}

/* line 52, partials/_base.sass */
a {
  color: #01579f;
  text-decoration: none;
}
/* line 55, partials/_base.sass */
a:hover {
  color: #0181eb;
}

/* line 58, partials/_base.sass */
h1 {
  margin-bottom: 13px;
  font-size: 26px;
}

/* line 64, partials/_base.sass */
h2 {
  margin-bottom: 7px;
  font-size: 20px;
}

/* line 64, partials/_base.sass */
h3 {
  margin-bottom: 2px;
  font-size: 15px;
}

/* line 64, partials/_base.sass */
h4 {
  margin-bottom: -3px;
  font-size: 10px;
}

/* line 1, ../../partials/_layout.sass */
body {
  padding: 20px 0;
  background: url(../images/bg.png) repeat;
  color: #444444;
  font-size: 12px;
  line-height: 1.7;
}

/* line 8, ../../partials/_layout.sass */
#wrapper {
  position: relative;
  margin: 0 auto 20px auto;
  padding: 60px 50px 0 40px;
  width: 860px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 9px 2px #444444;
  -moz-box-shadow: 0 2px 9px 2px #444444;
  box-shadow: 0 2px 9px 2px #444444;
  background-color: white;
}

/* line 17, ../../partials/_layout.sass */
#header {
  float: left;
  width: 450px;
}
/* line 20, ../../partials/_layout.sass */
#header h1 {
  margin-bottom: 5px;
  text-transform: uppercase;
}
/* line 24, ../../partials/_layout.sass */
#header p {
  margin: 0;
  color: #aaaaaa;
  font-size: 15px;
  text-transform: uppercase;
}

/* line 30, ../../partials/_layout.sass */
#social-links {
  float: right;
  width: 159px;
}
/* line 37, ../../partials/_layout.sass */
#social-links li {
  margin-right: 5px;
}
/* line 39, ../../partials/_layout.sass */
#social-links li a {
  display: block;
  width: 48px;
  height: 49px;
  font-size: 0;
  text-indent: -9999px;
  background: url("../images/icons.png") no-repeat;
}
/* line 42, ../../partials/_layout.sass */
#social-links li a.github:hover {
  background-position: -49px;
}
/* line 44, ../../partials/_layout.sass */
#social-links li a.feed {
  background-position: -48px 0;
}
/* line 46, ../../partials/_layout.sass */
#social-links li a.feed:hover {
  background-position: -97px;
}
/* line 48, ../../partials/_layout.sass */
#social-links li a.twitter {
  background-position: -96px 0;
}
/* line 50, ../../partials/_layout.sass */
#social-links li a.twitter:hover {
  background-position: -145px;
}

/* line 53, ../../partials/_layout.sass */
#nav {
  position: absolute;
  top: -30px;
  margin: 30px 40px 0 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
}
/* line 63, ../../partials/_layout.sass */
#nav li {
  margin-right: 10px;
}
/* line 65, ../../partials/_layout.sass */
#nav a {
  display: block;
  padding: 3px 6px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #b3b3b3;
  color: white;
}
/* line 71, ../../partials/_layout.sass */
#nav a:hover, #nav a.current {
  background-color: #4d4d4d;
}

/* line 74, ../../partials/_layout.sass */
#main {
  margin-top: 15px;
}

/* line 77, ../../partials/_layout.sass */
#pagination {
  margin-bottom: 10px;
}
/* line 80, ../../partials/_layout.sass */
#pagination a {
  font-size: 1.2em;
}
/* line 82, ../../partials/_layout.sass */
#pagination a.next {
  float: right;
}

/* line 85, ../../partials/_layout.sass */
#footer {
  position: relative;
  left: -40px;
  padding: 10px 50px 15px 40px;
  width: 860px;
  border-top: 1px dashed #f8f8f8;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#f5f5f5, #dddddd);
  background-image: -moz-linear-gradient(#f5f5f5, #dddddd);
  background-image: -o-linear-gradient(#f5f5f5, #dddddd);
  background-image: -ms-linear-gradient(#f5f5f5, #dddddd);
  background-image: linear-gradient(#f5f5f5, #dddddd);
}
/* line 93, ../../partials/_layout.sass */
#footer h2 {
  margin-bottom: 0;
  text-transform: uppercase;
}
/* line 96, ../../partials/_layout.sass */
#footer ul {
  font-size: 1.1em;
}
/* line 99, ../../partials/_layout.sass */
#footer .panels {
  margin-bottom: 10px;
}
/* line 103, ../../partials/_layout.sass */
#footer .panels > div {
  float: left;
  margin-right: 40px;
}
/* line 106, ../../partials/_layout.sass */
#footer .panels > .license {
  width: 180px;
}
/* line 108, ../../partials/_layout.sass */
#footer .panels > .posts {
  max-width: 300px;
}
/* line 111, ../../partials/_layout.sass */
#footer .panels > .douban img {
  max-width: 45px;
}
/* line 113, ../../partials/_layout.sass */
#footer .panels > .douban table {
  margin-bottom: 0;
}
/* line 115, ../../partials/_layout.sass */
#footer .panels > .douban td {
  padding: 0 15px 0 0;
  vertical-align: top;
}
/* line 118, ../../partials/_layout.sass */
#footer .panels > .douban .view-douban {
  color: #444444;
}
/* line 120, ../../partials/_layout.sass */
#footer .panels > .archives {
  float: right;
  margin-right: 0;
  text-align: right;
}
/* line 124, ../../partials/_layout.sass */
#footer .panels > .archives .view-all {
  color: #444444;
}
/* line 126, ../../partials/_layout.sass */
#footer .powered {
  margin-bottom: 0;
  color: #888888;
  text-align: center;
}

/* line 1, ../../partials/_post.sass */
.post {
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(78, 68, 60, 0.1);
}

/* line 6, ../../partials/_post.sass */
.post-single {
  padding-bottom: 5px;
  border-bottom: none;
}

/* line 10, ../../partials/_post.sass */
.post-header {
  position: relative;
  padding-top: 2em;
}
/* line 13, ../../partials/_post.sass */
.post-header time {
  position: absolute;
  top: 0;
  color: #aaaaaa;
  font-size: 1.2em;
  text-transform: uppercase;
}

/* line 20, ../../partials/_post.sass */
.post-content {
  font-size: 1.2em;
}
/* line 22, ../../partials/_post.sass */
.post-content p {
  margin-bottom: 0.7em;
}
/* line 24, ../../partials/_post.sass */
.post-content img, .post-content video, .post-content .flash-video {
  max-width: 80%;
}
/* line 25, ../../partials/_post.sass */
.post-content img.left, .post-content video.left, .post-content .flash-video.left {
  float: left;
  margin-right: 1.5em;
}
/* line 28, ../../partials/_post.sass */
.post-content img.right, .post-content video.right, .post-content .flash-video.right {
  float: right;
  margin-left: 1.5em;
}
/* line 31, ../../partials/_post.sass */
.post-content img.center, .post-content video.center, .post-content .flash-video.center {
  display: block;
  margin: 0 auto 1.5em;
}
/* line 34, ../../partials/_post.sass */
.post-content img.left, .post-content img.right, .post-content video.left, .post-content video.right, .post-content .flash-video.left, .post-content .flash-video.right {
  margin-bottom: 0.8em;
}
/* line 37, ../../partials/_post.sass */
.post-content video, .post-content .flash-video {
  margin: 0 auto 1.5em;
}

/*.highlight {
 *  @extend .codeblock;
 *  margin-bottom: 0.7em;
 *  @include border-radius(3px);
 *  pre {
 *    margin: 0; }
 *  table {
 *    table-layout: fixed;
 *    margin-bottom: 0; }
 *  td {
 *    padding: 0;
 *    &.gutter {
 *      width: 38px;
 *      border-right: 1px solid #dedede; }
 *    &.code {
 *      padding-left: 10px; } }
 *  .line-numbers {
 *    padding: 2px;
 *    text-align: right; } } */
/* line 60, ../../partials/_post.sass */
.categories, .sharing {
  float: left;
}

/* line 63, ../../partials/_post.sass */
.sharing {
  margin-left: 10px;
}
/* line 65, ../../partials/_post.sass */
.sharing .twitter-share-button {
  width: 75px !important;
}

/* line 68, ../../partials/_post.sass */
#comments {
  margin-top: 5px;
}
/* line 70, ../../partials/_post.sass */
#comments h2 {
  margin-bottom: 10px;
}
/* line 73, ../../partials/_post.sass */
#comments #dsq-content .dsq-pagination {
  padding: 0;
}
/* line 75, ../../partials/_post.sass */
#comments #dsq-content .dsq-trackback-url {
  margin-left: 10px;
  width: 65%;
}
/* line 78, ../../partials/_post.sass */
#comments #dsq-comments-title {
  margin-top: 10px;
}
/* line 80, ../../partials/_post.sass */
#comments #dsq-global-toolbar {
  margin-top: 0 !important;
}

/* line 84, ../../partials/_post.sass */
#archives .post-line {
  margin-bottom: 5px;
  padding-bottom: 1px;
}
/* line 88, ../../partials/_post.sass */
#archives .post-line h1 {
  float: left;
  margin-bottom: 0;
  font-size: 1.2em;
}
/* line 92, ../../partials/_post.sass */
#archives .post-line time {
  float: right;
}
/* line 94, ../../partials/_post.sass */
#archives .post-line:hover time {
  font-weight: bold;
}

/* line 60, ../../partials/_highlight.sass */
.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
  border: 1px solid #e1e1e1 !important;
}
/* line 61, ../../partials/_highlight.sass */
.highlight table, html .gist .gist-file .gist-syntax .gist-highlight table {
  margin: 0px;
}
/* line 63, ../../partials/_highlight.sass */
.highlight table td, html .gist .gist-file .gist-syntax .gist-highlight table td {
  padding: 1px;
}
/* line 65, ../../partials/_highlight.sass */
.highlight table td pre, html .gist .gist-file .gist-syntax .gist-highlight table td pre {
  padding: 0px;
  margin: 0px;
}
/* line 68, ../../partials/_highlight.sass */
.highlight table td.gutter, html .gist .gist-file .gist-syntax .gist-highlight table td.gutter {
  border-right: 1px solid #dedede;
  width: 50px;
}
/* line 71, ../../partials/_highlight.sass */
.highlight table td.code, html .gist .gist-file .gist-syntax .gist-highlight table td.code {
  width: 100%;
}
/* line 73, ../../partials/_highlight.sass */
.highlight .line-numbers, html .gist .gist-file .gist-syntax .gist-highlight .line-numbers {
  text-align: right;
  font-size: 13px;
  padding: 0px 4px 0px 8px;
  line-height: 1.45em;
  background: #eeeeee !important;
  border-right: 1px solid #e9e9e9 !important;
  -webkit-box-shadow: white -1px 0 inset;
  -moz-box-shadow: white -1px 0 inset;
  box-shadow: white -1px 0 inset;
  text-shadow: #f3f3f3 0 -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 82, ../../partials/_highlight.sass */
.highlight .line-numbers span, html .gist .gist-file .gist-syntax .gist-highlight .line-numbers span {
  color: #999999 !important;
}

/* line 87, ../../partials/_highlight.sass */
figure.code, .gist-file, pre {
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
}
/* line 89, ../../partials/_highlight.sass */
figure.code .highlight pre, .gist-file .highlight pre, pre .highlight pre {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 92, ../../partials/_highlight.sass */
html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
  padding-top: 200px !important;
}
/* line 97, ../../partials/_highlight.sass */
html .gist .gist-file .gist-syntax {
  border-bottom: 0 !important;
  background: none !important;
}
/* line 100, ../../partials/_highlight.sass */
html .gist .gist-file .gist-syntax .gist-highlight {
  background: white !important;
}
/* line 104, ../../partials/_highlight.sass */
html .gist .gist-file .gist-meta {
  padding: 0.6em 0.8em;
  border: 1px solid #f3f3f3 !important;
  color: #999999;
  font-size: 0.7em !important;
  background: #eeeeee;
  border: 1px solid #e1e1e1 !important;
  border-top: 1px solid white !important;
  line-height: 1.5em;
}
/* line 114, ../../partials/_highlight.sass */
html .gist .gist-file .gist-meta a {
  color: #0066cc !important;
}
/* line 116, ../../partials/_highlight.sass */
html .gist .gist-file .gist-meta a:hover {
  color: #0066cc !important;
  text-decoration: none;
}
/* line 119, ../../partials/_highlight.sass */
html .gist .gist-file .gist-meta a[href*='#file'] {
  position: absolute;
  top: 0;
  left: 0;
  right: -10px;
  color: #999999 !important;
}
/* line 126, ../../partials/_highlight.sass */
html .gist .gist-file .gist-meta a[href*='#file']:hover {
  color: white !important;
  text-decoration: none;
}
/* line 129, ../../partials/_highlight.sass */
html .gist .gist-file .gist-meta a[href*=raw] {
  top: 7px;
}

/* line 133, ../../partials/_highlight.sass */
pre {
  background: white;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 1px solid #e1e1e1;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: 0.8em 1em;
  color: #222222;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}

/* line 149, ../../partials/_highlight.sass */
h3.filename + pre {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -ms-border-top-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -ms-border-top-right-radius: 0px;
  -o-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 153, ../../partials/_highlight.sass */
p code, li code {
  display: inline-block;
  white-space: no-wrap;
  background: white;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #555555;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 0.3em;
  margin: -1px 0;
}
/* line 165, ../../partials/_highlight.sass */
p pre code, li pre code {
  font-size: 1em !important;
  background: none;
  border: none;
}

/* line 170, ../../partials/_highlight.sass */
.pre-code, html .gist .gist-file .gist-syntax .gist-highlight pre, .highlight code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: 2px 15px 0px !important;
  overflow-x: auto;
  line-height: 1.45em;
  background: white !important;
  color: #222222 !important;
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.String */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Interpol */
  /* Literal.String.Regex */
  /* Literal.String.Single */
}
/* line 42, ../../partials/_highlight.sass */
.pre-code *::-moz-selection, html .gist .gist-file .gist-syntax .gist-highlight pre *::-moz-selection, .highlight code *::-moz-selection {
  background: white;
  color: inherit;
  text-shadow: white 0 1px;
}
/* line 46, ../../partials/_highlight.sass */
.pre-code *::-webkit-selection, html .gist .gist-file .gist-syntax .gist-highlight pre *::-webkit-selection, .highlight code *::-webkit-selection {
  background: white;
  color: inherit;
  text-shadow: white 0 1px;
}
/* line 50, ../../partials/_highlight.sass */
.pre-code *::selection, html .gist .gist-file .gist-syntax .gist-highlight pre *::selection, .highlight code *::selection {
  background: white;
  color: inherit;
  text-shadow: white 0 1px;
}
/* line 181, ../../partials/_highlight.sass */
.pre-code span, html .gist .gist-file .gist-syntax .gist-highlight pre span, .highlight code span {
  color: #222222 !important;
}
/* line 183, ../../partials/_highlight.sass */
.pre-code span, html .gist .gist-file .gist-syntax .gist-highlight pre span, .highlight code span {
  font-style: normal !important;
  font-weight: normal !important;
}
/* line 186, ../../partials/_highlight.sass */
.pre-code .c, html .gist .gist-file .gist-syntax .gist-highlight pre .c, .highlight code .c {
  color: #999999 !important;
  font-style: italic !important;
}
/* line 190, ../../partials/_highlight.sass */
.pre-code .cm, html .gist .gist-file .gist-syntax .gist-highlight pre .cm, .highlight code .cm {
  color: #999999 !important;
  font-style: italic !important;
}
/* line 194, ../../partials/_highlight.sass */
.pre-code .cp, html .gist .gist-file .gist-syntax .gist-highlight pre .cp, .highlight code .cp {
  color: #999999 !important;
  font-style: italic !important;
}
/* line 198, ../../partials/_highlight.sass */
.pre-code .c1, html .gist .gist-file .gist-syntax .gist-highlight pre .c1, .highlight code .c1 {
  color: #999999 !important;
  font-style: italic !important;
}
/* line 202, ../../partials/_highlight.sass */
.pre-code .cs, html .gist .gist-file .gist-syntax .gist-highlight pre .cs, .highlight code .cs {
  color: #999999 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
/* line 207, ../../partials/_highlight.sass */
.pre-code .err, html .gist .gist-file .gist-syntax .gist-highlight pre .err, .highlight code .err {
  color: #dc322f !important;
  background: none !important;
}
/* line 211, ../../partials/_highlight.sass */
.pre-code .k, html .gist .gist-file .gist-syntax .gist-highlight pre .k, .highlight code .k {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
/* line 215, ../../partials/_highlight.sass */
.pre-code .o, html .gist .gist-file .gist-syntax .gist-highlight pre .o, .highlight code .o {
  color: #222222 !important;
}
/* line 218, ../../partials/_highlight.sass */
.pre-code .p, html .gist .gist-file .gist-syntax .gist-highlight pre .p, .highlight code .p {
  color: #222222 !important;
}
/* line 221, ../../partials/_highlight.sass */
.pre-code .ow, html .gist .gist-file .gist-syntax .gist-highlight pre .ow, .highlight code .ow {
  color: #2aa198 !important;
}
/* line 224, ../../partials/_highlight.sass */
.pre-code .gd, html .gist .gist-file .gist-syntax .gist-highlight pre .gd, .highlight code .gd {
  color: #222222 !important;
  background-color: #f6cbcb !important;
  display: inline-block;
}
/* line 229, ../../partials/_highlight.sass */
.pre-code .gd .x, html .gist .gist-file .gist-syntax .gist-highlight pre .gd .x, .highlight code .gd .x {
  color: #222222 !important;
  background-color: #f2b7b6 !important;
  display: inline-block;
}
/* line 234, ../../partials/_highlight.sass */
.pre-code .ge, html .gist .gist-file .gist-syntax .gist-highlight pre .ge, .highlight code .ge {
  color: #222222 !important;
  font-style: italic !important;
}
/* line 239, ../../partials/_highlight.sass */
.pre-code .gh, html .gist .gist-file .gist-syntax .gist-highlight pre .gh, .highlight code .gh {
  color: #999999 !important;
}
/* line 242, ../../partials/_highlight.sass */
.pre-code .gi, html .gist .gist-file .gist-syntax .gist-highlight pre .gi, .highlight code .gi {
  color: #222222 !important;
  background-color: #e6eacc !important;
  display: inline-block;
}
/* line 247, ../../partials/_highlight.sass */
.pre-code .gi .x, html .gist .gist-file .gist-syntax .gist-highlight pre .gi .x, .highlight code .gi .x {
  color: #222222 !important;
  background-color: #ced699 !important;
  display: inline-block;
}
/* line 254, ../../partials/_highlight.sass */
.pre-code .gs, html .gist .gist-file .gist-syntax .gist-highlight pre .gs, .highlight code .gs {
  color: #222222 !important;
  font-weight: bold !important;
}
/* line 258, ../../partials/_highlight.sass */
.pre-code .gu, html .gist .gist-file .gist-syntax .gist-highlight pre .gu, .highlight code .gu {
  color: #6c71c4 !important;
}
/* line 262, ../../partials/_highlight.sass */
.pre-code .kc, html .gist .gist-file .gist-syntax .gist-highlight pre .kc, .highlight code .kc {
  color: #859900 !important;
  font-weight: bold !important;
}
/* line 266, ../../partials/_highlight.sass */
.pre-code .kd, html .gist .gist-file .gist-syntax .gist-highlight pre .kd, .highlight code .kd {
  color: #268bd2 !important;
}
/* line 269, ../../partials/_highlight.sass */
.pre-code .kp, html .gist .gist-file .gist-syntax .gist-highlight pre .kp, .highlight code .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
/* line 273, ../../partials/_highlight.sass */
.pre-code .kr, html .gist .gist-file .gist-syntax .gist-highlight pre .kr, .highlight code .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}
/* line 277, ../../partials/_highlight.sass */
.pre-code .kt, html .gist .gist-file .gist-syntax .gist-highlight pre .kt, .highlight code .kt {
  color: #2aa198 !important;
}
/* line 280, ../../partials/_highlight.sass */
.pre-code .n, html .gist .gist-file .gist-syntax .gist-highlight pre .n, .highlight code .n {
  color: #268bd2 !important;
}
/* line 282, ../../partials/_highlight.sass */
.pre-code .na, html .gist .gist-file .gist-syntax .gist-highlight pre .na, .highlight code .na {
  color: #268bd2 !important;
}
/* line 285, ../../partials/_highlight.sass */
.pre-code .nb, html .gist .gist-file .gist-syntax .gist-highlight pre .nb, .highlight code .nb {
  color: #859900 !important;
}
/* line 288, ../../partials/_highlight.sass */
.pre-code .nc, html .gist .gist-file .gist-syntax .gist-highlight pre .nc, .highlight code .nc {
  color: #d33682 !important;
}
/* line 291, ../../partials/_highlight.sass */
.pre-code .no, html .gist .gist-file .gist-syntax .gist-highlight pre .no, .highlight code .no {
  color: #b58900 !important;
}
/* line 295, ../../partials/_highlight.sass */
.pre-code .nl, html .gist .gist-file .gist-syntax .gist-highlight pre .nl, .highlight code .nl {
  color: #859900 !important;
}
/* line 297, ../../partials/_highlight.sass */
.pre-code .ne, html .gist .gist-file .gist-syntax .gist-highlight pre .ne, .highlight code .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 301, ../../partials/_highlight.sass */
.pre-code .nf, html .gist .gist-file .gist-syntax .gist-highlight pre .nf, .highlight code .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 305, ../../partials/_highlight.sass */
.pre-code .nn, html .gist .gist-file .gist-syntax .gist-highlight pre .nn, .highlight code .nn {
  color: #b58900 !important;
}
/* line 308, ../../partials/_highlight.sass */
.pre-code .nt, html .gist .gist-file .gist-syntax .gist-highlight pre .nt, .highlight code .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 312, ../../partials/_highlight.sass */
.pre-code .nx, html .gist .gist-file .gist-syntax .gist-highlight pre .nx, .highlight code .nx {
  color: #b58900 !important;
}
/* line 316, ../../partials/_highlight.sass */
.pre-code .vg, html .gist .gist-file .gist-syntax .gist-highlight pre .vg, .highlight code .vg {
  color: #268bd2 !important;
}
/* line 319, ../../partials/_highlight.sass */
.pre-code .vi, html .gist .gist-file .gist-syntax .gist-highlight pre .vi, .highlight code .vi {
  color: #268bd2 !important;
}
/* line 322, ../../partials/_highlight.sass */
.pre-code .nv, html .gist .gist-file .gist-syntax .gist-highlight pre .nv, .highlight code .nv {
  color: #268bd2 !important;
}
/* line 326, ../../partials/_highlight.sass */
.pre-code .mf, html .gist .gist-file .gist-syntax .gist-highlight pre .mf, .highlight code .mf {
  color: #2aa198 !important;
}
/* line 329, ../../partials/_highlight.sass */
.pre-code .m, html .gist .gist-file .gist-syntax .gist-highlight pre .m, .highlight code .m {
  color: #2aa198 !important;
}
/* line 332, ../../partials/_highlight.sass */
.pre-code .mh, html .gist .gist-file .gist-syntax .gist-highlight pre .mh, .highlight code .mh {
  color: #2aa198 !important;
}
/* line 335, ../../partials/_highlight.sass */
.pre-code .mi, html .gist .gist-file .gist-syntax .gist-highlight pre .mi, .highlight code .mi {
  color: #2aa198 !important;
}
/* line 339, ../../partials/_highlight.sass */
.pre-code .s, html .gist .gist-file .gist-syntax .gist-highlight pre .s, .highlight code .s {
  color: #2aa198 !important;
}
/* line 344, ../../partials/_highlight.sass */
.pre-code .sd, html .gist .gist-file .gist-syntax .gist-highlight pre .sd, .highlight code .sd {
  color: #2aa198 !important;
}
/* line 347, ../../partials/_highlight.sass */
.pre-code .s2, html .gist .gist-file .gist-syntax .gist-highlight pre .s2, .highlight code .s2 {
  color: #2aa198 !important;
}
/* line 350, ../../partials/_highlight.sass */
.pre-code .se, html .gist .gist-file .gist-syntax .gist-highlight pre .se, .highlight code .se {
  color: #dc322f !important;
}
/* line 354, ../../partials/_highlight.sass */
.pre-code .si, html .gist .gist-file .gist-syntax .gist-highlight pre .si, .highlight code .si {
  color: #268bd2 !important;
}
/* line 358, ../../partials/_highlight.sass */
.pre-code .sr, html .gist .gist-file .gist-syntax .gist-highlight pre .sr, .highlight code .sr {
  color: #2aa198 !important;
}
/* line 361, ../../partials/_highlight.sass */
.pre-code .s1, html .gist .gist-file .gist-syntax .gist-highlight pre .s1, .highlight code .s1 {
  color: #2aa198 !important;
}
/* line 367, ../../partials/_highlight.sass */
.pre-code div .gd, html .gist .gist-file .gist-syntax .gist-highlight pre div .gd, .highlight code div .gd, .pre-code div .gd .x, html .gist .gist-file .gist-syntax .gist-highlight pre div .gd .x, .highlight code div .gd .x, .pre-code div .gi, html .gist .gist-file .gist-syntax .gist-highlight pre div .gi, .highlight code div .gi, .pre-code div .gi .x, html .gist .gist-file .gist-syntax .gist-highlight pre div .gi .x, .highlight code div .gi .x {
  display: inline-block;
  width: 100%;
}

/* line 371, ../../partials/_highlight.sass */
.highlight, .gist-highlight {
  margin-bottom: 1.8em;
  background: white;
  overflow-y: hidden;
  overflow-x: auto;
}
/* line 372, ../../partials/_highlight.sass */
.highlight pre, .gist-highlight pre {
  background: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  border: none;
  padding: 0;
  margin-bottom: 0;
}

/* line 389, ../../partials/_highlight.sass */
pre::-webkit-scrollbar, .highlight::-webkit-scrollbar, .gist-highlight::-webkit-scrollbar {
  height: 0.5em;
  background: rgba(0, 0, 0, 0.15);
}
/* line 392, ../../partials/_highlight.sass */
pre::-webkit-scrollbar-thumb:horizontal, .highlight::-webkit-scrollbar-thumb:horizontal, .gist-highlight::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 397, ../../partials/_highlight.sass */
.highlight code {
  background: black;
}

/* line 401, ../../partials/_highlight.sass */
figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
}
/* line 406, ../../partials/_highlight.sass */
figure.code pre {
  margin-bottom: 0;
}
/* line 408, ../../partials/_highlight.sass */
figure.code figcaption {
  position: relative;
}
/* line 413, ../../partials/_highlight.sass */
figure.code .highlight {
  margin-bottom: 0;
}

/* line 416, ../../partials/_highlight.sass */
.code-title, html .gist .gist-file .gist-meta a[href*='#file'], h3.filename, figure.code figcaption {
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  font-weight: normal;
  margin-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
  text-shadow: none;
  color: #eeeeee;
  background: #555555;
}

/* line 433, ../../partials/_highlight.sass */
.download-source, html .gist .gist-file .gist-meta a[href*=raw], figure.code figcaption a {
  position: absolute;
  right: 0.8em;
  z-index: 1;
  font-size: 13px;
  padding-left: 3em;
  color: #777777 !important;
  text-shadow: none;
}
/* line 441, ../../partials/_highlight.sass */
.download-source:hover, html .gist .gist-file .gist-meta a[href*=raw]:hover, figure.code figcaption a:hover {
  color: white !important;
  text-decoration: none;
}
